@model Blog.Web.Models.User.UserDataModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<form form action="ForgotPassword" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            @Html.EditorFor(model => model.Email)
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">What was the name of your first pet?</label>
            @Html.EditorFor(model => model.Question)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn" />
            </div>
        </div>
    </div>
</form>
}

